<div class="w-full max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 md:gap-8">
        <app-product-card *ngFor="let product of paginatedProducts" [product]="product"
            class="transform transition-all duration-300">
        </app-product-card>
    </div>
    <app-pagination [totalItems]="products.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
        (pageChange)="onPageChange($event)">
    </app-pagination>
</div>